:root {
    --bg-color: #8b008b;
    --bg-color-cv: #ffffff;
    --fg-color: #551313;
    --fg-color-dark: #023b5b;
    --fg-color-body: #880808;
    --fg-color-title-sm: #211b56;

}

[data-theme='dark'] {
    --bg-color: #28343b;
    --bg-color-cv: #1b262c;
    --fg-color: #3282b8;
    --fg-color-dark: #3282b8;
    --fg-color-body: rgba(187,225,250,0.75);
    --fg-color-title-sm: #688293;
}
